# imports

In [1]:
import geopandas as gpd
import pandas as pd
import shapely as sp
import pygeos as pg
import numpy as np
from sqlalchemy import create_engine
import os
from getpass import getpass

/tmp/ipykernel_25301/3760985928.py:1: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
user = getpass()
password = getpass()

 ········
 ········

In [4]:
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/gis')

# data

In [ ]:
uprn = pd.read_csv('/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv')

In [17]:
conn = engine.raw_connection()
cursor = conn.cursor()
sql = """CREATE SCHEMA os;"""
cursor.execute(sql)
conn.commit()
conn.close()

In [18]:
uprn.head(0).to_sql('os_open_uprn', 
                con=engine, 
                schema='os', 
                if_exists='replace', 
                method='multi', 
                index=False)

0

In [19]:
cd = f"""
psql "postgresql://{user}:{password}@localhost:5432/gis" -c "\COPY os.os_open_uprn FROM '/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv' DELIMITER ',' CSV HEADER";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/codepo_gpkg_gb/data/codepo_gb.gpkg -nln "codepoint_points";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/bdline_gpkg_gb/Data/bdline_gb.gpkg district_borough_unitary -nln "local_authorities";
    """
print(os.popen(cd).read())

COPY 39919220

In [21]:
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    ALTER TABLE os.os_open_uprn ADD COLUMN geom geometry('POINT', 27700);
    
    UPDATE os.os_open_uprn SET geom = ST_SetSRID(ST_Point("X_COORDINATE","Y_COORDINATE"), 27700);
    
    CREATE INDEX uprn_gix ON os.os_open_uprn USING GIST(geom);
    
    DROP TABLE IF EXISTS os.open_uprn_white_horse ;
    
    SELECT
        A.*
    INTO
        os.open_uprn_white_horse
    FROM
        os.os_open_uprn A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geom, B.geometry);
    
    CREATE INDEX uprn_wh_gis ON os.open_uprn_white_horse USING gist(geom);
    
    DROP TABLE IF EXISTS os.code_point_open_white_horse;
    
    SELECT
        string_agg(A.postcode::text, ',') postcode,
        A.geom
    INTO
        os.code_point_open_white_horse
    FROM
        os.codepoint_points A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geom, B.geometry)
    GROUP BY
        A.geom;
    
    CREATE INDEX cp_wh_gis ON os.code_point_open_white_horse USING gist(geom);"""

cursor.execute(sql)
conn.commit()
conn.close()

# SQL nearest neighbour (distinct)

In [4]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn;
    WITH knn AS (
        SELECT DISTINCT ON (A."UPRN")
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A."UPRN",
            ST_Distance(A.geom, B.geom) ASC,
            destination
    )
    SELECT * INTO os.knn FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:02:45.335230')

# SQL nearest neighbour (lateral)

In [6]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn_l;
    WITH knn AS (
        SELECT 
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A
        CROSS JOIN LATERAL (
            SELECT
                B."postcode",
                B.geom
            FROM
                os.code_point_open_white_horse as B
            WHERE
                ST_DWithin(A.geom, B.geom, 5000)
            ORDER BY
                ST_Distance(A.geom, B.geom) ASC,
                B."postcode"
            LIMIT
                1   
        ) B
        ORDER BY
            A."UPRN"
    )
    SELECT * INTO os.knn_l FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:48.386495')

In [7]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

sql = """SELECT * FROM os.knn_l"""
data2 = pd.read_sql(sql, engine)

data3 = pd.merge(data, data2, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Geopandas sjoin_nearest

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [9]:
t1 = pd.Timestamp.now()
knn = (
    uprn.sjoin_nearest(codepoint, max_distance=5000, distance_col='distance')
    .rename(columns = {'UPRN': 'origin', 'postcode': 'destination'})
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
      )
t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:00.865136')

In [10]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, geom, index_right, destination_y, distance_y]
Index: []

# python nearest neighbour - shapely (all vs all)

In [11]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [15]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb, maxdist):
    
    #combine, filter, compute distance, select nearest

    combinations = [
        geomb[geomb.intersects(i.buffer(maxdist))].distance(i).idxmin()
        for i in geoma
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.items()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [16]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.sort_values('postcode').geometry, 5000)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:06:43.466777')

In [17]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python nearest neighbour - shapely (strtree)

In [22]:
from shapely.strtree import STRtree

In [23]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [83]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    #tree
    geomb = geomb.to_list()
    tree = STRtree(geomb)
    nearest = [[i[0], tree.query_nearest(i[1], return_distance = True)] for i in geoma.items()]
    nearest = [[i[0], j, i[1][1][n]] for i in nearest for n, j in enumerate(i[1][0])]
    
    nearest = (
        pd.DataFrame(
            nearest,
            columns = ['origin', 'destination', 'distance']
        )
    )
                    
    return nearest

In [91]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = pd.merge(uprn, knn, left_index = True, right_on = 'origin')
knn = pd.merge(codepoint, knn, left_index = True, right_on = 'destination')
knn = knn[['UPRN', 'postcode', 'distance']]
knn.columns = ['origin', 'destination', 'distance (m)']
knn = (
    knn
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
)

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:03.260441')

In [92]:
#mismatch due to equidistant postcodes
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python pygeos (all vs all)

In [75]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [76]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #combine, filter, compute distance, select nearest

    combinations = [
        np.argmin(pg.measurement.distance(i, geomb2))
        for i in geoma2
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.iteritems()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [77]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

/tmp/ipykernel_5403/686746402.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  'origin': [i[0] for i in geoma.iteritems()],

Timedelta('0 days 00:01:27.304722')

In [78]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python pygeos (strtree) nearest

In [79]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [114]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #tree
    tree = pg.STRtree(geomb2)
    nearest, distances = tree.nearest_all(geoma2, return_distance = True)

    nearest = (
        pd.DataFrame(
            {
                'origin': nearest[0],
                'destination': nearest[1], 
                'distance': distances
            }
        )
    )
                    
    return (nearest, distances)

In [115]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn, d = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = pd.merge(uprn, knn, left_index = True, right_on = 'origin')
knn = pd.merge(codepoint, knn, left_index = True, right_on = 'destination')
knn = knn[['UPRN', 'postcode', 'distance']]
knn.columns = ['origin', 'destination', 'distance (m)']
knn = (
    knn
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
)


t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:01.817855')

In [116]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# sklearn example

In [117]:
from sklearn.neighbors import NearestNeighbors

In [118]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [119]:
t1 = pd.Timestamp.now()

#get coordinates from geodataframes
uprn_xy = list(zip(uprn.geometry.x, uprn.geometry.y))
codep_xy =  list(zip(codepoint.geometry.x, codepoint.geometry.y))

#get indexes for nearest neighbour
neigh = NearestNeighbors(n_neighbors=1, radius=5000)
neigh.fit(codep_xy)
knn = neigh.kneighbors(uprn_xy)

#get values for indexes
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[[i[0] for i in knn[1]]]['postcode'].to_list(),
    distance = knn[0]
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:00.191488')

In [31]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance destination_y  distance (m)
981     10014021676       OX143ER     34.93       OX143HU     34.928498
5899    10014027118       OX1 5AZ     51.35       OX1 5BA     51.351728
27536   10093196028       OX143RG     22.44       OX145AJ     22.437121
50043  100120908230       OX136NG     60.44       OX136PD     60.440053
50734  100120908930       OX142LY    101.61       OX142ND    101.607086
57126  100120915364       OX110LB     61.81       OX110LT     61.814238
65422  100120923765       SN6 8TN     61.40       SN6 8TW     61.400326
66419  100120924775       SN6 8TJ     55.32       SN6 8TW     55.317267
69910  100120928322       OX129AF     29.41       OX129AN     29.410882
70589  100120929004       OX128DB     32.31       OX129XZ     32.310989
70591  100120929006       OX128DB     34.99       OX129XZ     34.985711
70592  100120929007       OX128DB     37.80       OX129XZ     37.802116
72453  100120930886       OX128JD     55.23       OX128JE     55.226805
78653  100121310631       OX128AH      8.60       OX128AL      8.602325

In [32]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['distance']!=data3['distance (m)'].round(2)]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# pyspark

In [33]:
from pyspark.sql import SparkSession
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from sedona.register import SedonaRegistrator

In [34]:
spark = (SparkSession
    .builder 
    .master("local[*]")       
    .config("spark.serializer", KryoSerializer.getName)
    .config("spark.kryo.registrator", SedonaKryoRegistrator.getName)
    .config('spark.jars.packages',
            'org.postgresql:postgresql:42.2.18,'
            'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.3.0-incubating,'
            'org.datasyslab:geotools-wrapper:1.3.0-27.2')
    # .config(
    #       "spark.driver.extraClassPath",
    #       "/home/cpadron/onedrive/local_projects/spark_jar/postgresql-42.2.18.jar"
    # )  
    .getOrCreate()
)

23/01/28 11:25:45 WARN Utils: Your hostname, bjorn resolves to a loopback address: 127.0.1.1; using 192.168.0.14 instead (on interface wlp3s0)
23/01/28 11:25:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/carlos/.ivy2/cache
The jars for the packages stored in: /home/carlos/.ivy2/jars
org.postgresql#postgresql added as a dependency
org.apache.sedona#sedona-python-adapter-3.0_2.12 added as a dependency
org.datasyslab#geotools-wrapper added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c11b55a3-ef7f-4965-8b31-bc26ccb7cb1e;1.0
	confs: [default]
	found org.postgresql#postgresql;42.2.18 in central
	found org.checkerframework#checker-qual;3.5.0 in central
	found org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating in central
	found org.locationtech.jts#jts-core;1.18.2 in central
	found org.wololo#jts2geojson;0.16.1 in central
	found org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating in central
	found org.apache.sedona#sedona-common;1.3.0-incubating in central
	found org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 in central
	found org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating in central
	found org.datasyslab#geotools-wrapper;1.3.0-27.2 in central
:: resolution report :: resolve 358ms :: artifacts dl 15ms
	:: modules in use:
	org.apache.sedona#sedona-common;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating from central in [default]
	org.checkerframework#checker-qual;3.5.0 from central in [default]
	org.datasyslab#geotools-wrapper;1.3.0-27.2 from central in [default]
	org.locationtech.jts#jts-core;1.18.2 from central in [default]
	org.postgresql#postgresql;42.2.18 from central in [default]
	org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 from central in [default]
	org.wololo#jts2geojson;0.16.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   0   ||   10  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c11b55a3-ef7f-4965-8b31-bc26ccb7cb1e
	confs: [default]
	0 artifacts copied, 10 already retrieved (0kB/8ms)

23/01/28 11:25:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [35]:
SedonaRegistrator.registerAll(spark)

True

In [36]:
sql = """SELECT "UPRN" uprn, ST_AsText(geom) geom FROM os.open_uprn_white_horse"""
uprn = pd.read_sql(sql, engine)

sql = """SELECT "postcode", ST_AsText(geom) geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = pd.read_sql(sql, engine)

In [37]:
codepoint = spark.createDataFrame(codepoint)
uprn = spark.createDataFrame(uprn)

/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

## sql/api

In [38]:
uprn.createOrReplaceTempView("uprn")
codepoint.createOrReplaceTempView("codepoint")

In [39]:
t1 = pd.Timestamp.now()

sql = """
    SELECT
        A.uprn origin,
        B.postcode destination,
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) as distance_m
    FROM
        uprn A,
        codepoint B
    WHERE
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) <= 5000        
"""
knn = spark.sql(sql).sort(['origin', 'distance_m', 'destination']).dropDuplicates(['origin']).toPandas()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

23/01/28 11:25:55 WARN JoinQuery: UseIndex is true, but no index exists. Will build index on the fly.

Timedelta('0 days 00:09:27.246200')

In [40]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance_m]
Index: []

# Kotlin all vs all

In [43]:
knn = pd.read_csv('knn_kotlin/kotlin_all_vs_all.csv', skipinitialspace = True)

In [44]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Kotlin strtree

In [47]:
knn = pd.read_csv('knn_kotlin/kotlin_tree.csv', skipinitialspace = True)

In [48]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Scala all vs all

In [31]:
knn = pd.read_csv('knn_scala/scala_all_vs_all.csv', skipinitialspace = True)

In [32]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Scala strtree

In [33]:
knn = pd.read_csv('knn_scala/scala_tree.csv', skipinitialspace = True)

In [34]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Rust all vs all

In [15]:
knn = pd.read_csv('knn_rust/rust_all_vs_all.csv', skipinitialspace = True)

In [16]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

/tmp/ipykernel_32596/1053291780.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, engine.raw_connection())

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Rust tree

In [17]:
knn = pd.read_csv('knn_rust/rust_tree.csv', skipinitialspace = True)

In [18]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

/tmp/ipykernel_32596/1053291780.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, engine.raw_connection())

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Results

In [2]:
results = [
    {'test' : 'SQL distinct 16GB', 'time': pd.Timedelta('0 days 00:02:57.778057')},
    {'test' : 'SQL distinct 2GB', 'time': pd.Timedelta('0 days 00:03:8')},
    {'test' : 'SQL lateral 16GB', 'time': pd.Timedelta('0 days 00:00:51')},
    {'test' : 'SQL lateral 2GB', 'time': pd.Timedelta('0 days 00:00:51')},
    {'test' : 'Geopandas sjoin_nearest', 'time': pd.Timedelta('0 days 00:00:01.074799')},
    {'test' : 'Shapely all vs all', 'time': pd.Timedelta('0 days 00:06:42.439090')},
    {'test' : 'Shapely strtree', 'time': pd.Timedelta('0 days 00:00:07.61')},
    {'test' : 'Pygeos all vs all', 'time': pd.Timedelta('0 days 00:01:25.121942')},
    {'test' : 'Pygeos strtree', 'time': pd.Timedelta('0 days 00:00:02.376158')},
    {'test' : 'Sklearn nearest neighbour', 'time': pd.Timedelta('0 days 00:00:00.142799')},
    {'test' : 'pyspark sql', 'time': pd.Timedelta('0 days 00:09:29')},
    {'test' : 'kotlin all vs all', 'time': pd.Timedelta('0 days 00:00:31')},
    {'test' : 'kotlin strtree', 'time': pd.Timedelta('0 days 00:00:4')},
    {'test' : 'scala strtree', 'time': pd.Timedelta('0 days 00:00:4')},
    {'test' : 'scala all vs all', 'time': pd.Timedelta('0 days 00:00:21')},
    {'test' : 'rust strtree', 'time': pd.Timedelta('0 days 00:00:0.5')},
    {'test' : 'rust all vs all', 'time': pd.Timedelta('0 days 00:00:11')}    
]

In [5]:
pd.DataFrame(results).sort_values('time').drop_duplicates()

                         test                   time
9   Sklearn nearest neighbour 0 days 00:00:00.142799
15               rust strtree 0 days 00:00:00.500000
4     Geopandas sjoin_nearest 0 days 00:00:01.074799
8              Pygeos strtree 0 days 00:00:02.376158
13              scala strtree        0 days 00:00:04
12             kotlin strtree        0 days 00:00:04
6             Shapely strtree 0 days 00:00:07.610000
16            rust all vs all        0 days 00:00:11
14           scala all vs all        0 days 00:00:21
11          kotlin all vs all        0 days 00:00:31
3             SQL lateral 2GB        0 days 00:00:51
2            SQL lateral 16GB        0 days 00:00:51
7           Pygeos all vs all 0 days 00:01:25.121942
0           SQL distinct 16GB 0 days 00:02:57.778057
1            SQL distinct 2GB        0 days 00:03:08
5          Shapely all vs all 0 days 00:06:42.439090
10                pyspark sql        0 days 00:09:29