# imports

In [1]:
import geopandas as gpd
import pandas as pd
import shapely as sp
import numpy as np
from sqlalchemy import create_engine
import os
from getpass import getpass

In [2]:
user = getpass()
password = getpass()

In [3]:
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/gis')

# data

In [7]:
uprn = pd.read_csv('data/osopenuprn_202402_csv/osopenuprn_202402.csv', nrows=1000)
uprn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPRN          1000 non-null   int64
 1   X_COORDINATE  1000 non-null   float64
 2   Y_COORDINATE  1000 non-null   float64
 3   LATITUDE      1000 non-null   float64
 4   LONGITUDE     1000 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 39.2 KB

In [ ]:
conn = engine.raw_connection()
cursor = conn.cursor()
sql = """CREATE SCHEMA os;"""
cursor.execute(sql)
conn.commit()
conn.close()

In [9]:
uprn.head(0).to_sql('os_open_uprn', 
                con=engine, 
                schema='os', 
                if_exists='replace', 
                method='multi', 
                index=False)

0

In [11]:
cd = f"""
psql "postgresql://{user}:{password}@localhost:5432/gis" -c "\COPY os.os_open_uprn FROM 'data/osopenuprn_202402_csv/osopenuprn_202402.csv' DELIMITER ',' CSV HEADER";  
    """
print(os.popen(cd).read())

COPY 40693173

In [12]:
cd = f"""  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" data/codepo_gpkg_gb/Data/codepo_gb.gpkg -nln "codepoint_points";  
    """
print(os.popen(cd).read())

In [13]:
cd = f"""
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" data/bdline_gpkg_gb/Data/bdline_gb.gpkg district_borough_unitary -nln "local_authorities";
    """
print(os.popen(cd).read())

In [ ]:
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    ALTER TABLE os.os_open_uprn ADD COLUMN geom geometry('POINT', 27700);
    
    UPDATE os.os_open_uprn SET geom = ST_SetSRID(ST_Point("X_COORDINATE","Y_COORDINATE"), 27700);
    
    CREATE INDEX uprn_gix ON os.os_open_uprn USING GIST(geom);
    
    DROP TABLE IF EXISTS os.open_uprn_white_horse ;
    
    SELECT
        A.*
    INTO
        os.open_uprn_white_horse
    FROM
        os.os_open_uprn A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geom, B.geometry);
    
    CREATE INDEX uprn_wh_gis ON os.open_uprn_white_horse USING gist(geom);
    
    DROP TABLE IF EXISTS os.code_point_open_white_horse;
    
    SELECT
        string_agg(A.postcode::text, ',') postcode,
        A.geometry
    INTO
        os.code_point_open_white_horse
    FROM
        os.codepoint_points A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geometry, B.geometry)
    GROUP BY
        A.geometry;
    
    CREATE INDEX cp_wh_gis ON os.code_point_open_white_horse USING gist(geometry);
    
    ALTER TABLE os.code_point_open_white_horse RENAME COLUMN geometry TO geom;
    """

cursor.execute(sql)
conn.commit()
conn.close()

# Data export for cloud services

In [6]:
sql = """SELECT *, ST_AsText(geom) wkt FROM os.code_point_open_white_horse;"""
data = pd.read_sql(sql, engine).to_csv('data/code_point_open_white_horse.csv', index=False, header=False, sep='|')

sql = """SELECT *, ST_AsText(geom) wkt FROM os.open_uprn_white_horse;"""
data = pd.read_sql(sql, engine).to_csv('data/open_uprn_white_horse.csv', index=False, header=False, sep='|')

# SQL nearest neighbour (distinct)

In [ ]:
#show work mem
"""SHOW work_mem;"""
#set work mem
"""SET work_mem TO '2GB';"""
"""SET work_mem TO '16GB';"""

In [7]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn;
    WITH knn AS (
        SELECT DISTINCT ON (A."UPRN")
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A."UPRN",
            ST_Distance(A.geom, B.geom) ASC,
            destination
    )
    SELECT * INTO os.knn FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:01:50.849501')

# SQL nearest neighbour (lateral)

In [9]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn_l;
    WITH knn AS (
        SELECT 
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A
        CROSS JOIN LATERAL (
            SELECT
                B."postcode",
                B.geom
            FROM
                os.code_point_open_white_horse as B
            WHERE
                ST_DWithin(A.geom, B.geom, 5000)
            ORDER BY
                ST_Distance(A.geom, B.geom) ASC,
                B."postcode"
            LIMIT
                1   
        ) B
        ORDER BY
            A."UPRN"
    )
    SELECT * INTO os.knn_l FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:01:02.331109')

In [10]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

sql = """SELECT * FROM os.knn_l"""
data2 = pd.read_sql(sql, engine)

data3 = pd.merge(data, data2, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Geopandas sjoin_nearest

In [11]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [12]:
t1 = pd.Timestamp.now()
knn = (
    uprn.sjoin_nearest(codepoint, max_distance=5000, distance_col='distance')
    .rename(columns = {'UPRN': 'origin', 'postcode': 'destination'})
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
      )
t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:01.041729')

In [13]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, geom, index_right, destination_y, distance_y]
Index: []

# python nearest neighbour - shapely (all vs all)

In [15]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [16]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb, maxdist):
    
    #combine, filter, compute distance, select nearest

    combinations = [
        geomb[geomb.intersects(i.buffer(maxdist))].distance(i).idxmin()
        for i in geoma
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.items()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [17]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.sort_values('postcode').geometry, 5000)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:02:16.250145')

In [18]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python nearest neighbour - shapely (strtree)

In [19]:
from shapely.strtree import STRtree

In [20]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [21]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    #tree
    geomb = geomb.to_list()
    tree = STRtree(geomb)
    nearest = [[i[0], tree.query_nearest(i[1], return_distance = True)] for i in geoma.items()]
    nearest = [[i[0], j, i[1][1][n]] for i in nearest for n, j in enumerate(i[1][0])]
    
    nearest = (
        pd.DataFrame(
            nearest,
            columns = ['origin', 'destination', 'distance']
        )
    )
                    
    return nearest

In [22]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = pd.merge(uprn, knn, left_index = True, right_on = 'origin')
knn = pd.merge(codepoint, knn, left_index = True, right_on = 'destination')
knn = knn[['UPRN', 'postcode', 'distance']]
knn.columns = ['origin', 'destination', 'distance (m)']
knn = (
    knn
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
)

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:01.828159')

In [23]:
#mismatch due to equidistant postcodes
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# Scikit-Learn

In [24]:
from sklearn.neighbors import NearestNeighbors

In [25]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [26]:
t1 = pd.Timestamp.now()

#get coordinates from geodataframes
uprn_xy = list(zip(uprn.geometry.x, uprn.geometry.y))
codep_xy =  list(zip(codepoint.geometry.x, codepoint.geometry.y))

#get indexes for nearest neighbour
neigh = NearestNeighbors(n_neighbors=1, radius=5000)
neigh.fit(codep_xy)
knn = neigh.kneighbors(uprn_xy)

#get values for indexes
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[[i[0] for i in knn[1]]]['postcode'].to_list(),
    distance = knn[0]
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:00.250819')

In [27]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance destination_y  distance (m)
979     10014021676      OX14 3ER     34.93      OX14 3HU     34.928498
13571   10014072948      OX14 5AE     27.89      OX14 5GL     27.892651
47107  100120902856      OX14 5PN     73.01      OX14 5PZ     73.006849
67840  100120923765       SN6 8TN     61.40       SN6 8TW     61.400326
68529  100120924463       SN6 8ER     53.24       SN6 8HE     53.235327
68837  100120924775       SN6 8TJ     55.32       SN6 8TW     55.317267
70884  100120926843      OX12 7AA     31.40      OX12 7AG     31.400637
72328  100120928322      OX12 9AF     29.41      OX12 9AN     29.410882
73033  100120929030      OX12 9AW     39.20      OX12 9EL     39.204592

In [28]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['distance']!=data3['distance (m)'].round(2)]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# Apache Sedona

In [ ]:
from pyspark.sql import SparkSession
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from sedona.register import SedonaRegistrator

In [34]:
spark = (SparkSession
    .builder 
    .master("local[*]")       
    .config("spark.serializer", KryoSerializer.getName)
    .config("spark.kryo.registrator", SedonaKryoRegistrator.getName)
    .config('spark.jars.packages',
            'org.postgresql:postgresql:42.2.18,'
            'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.3.0-incubating,'
            'org.datasyslab:geotools-wrapper:1.3.0-27.2')
    # .config(
    #       "spark.driver.extraClassPath",
    #       "/home/cpadron/onedrive/local_projects/spark_jar/postgresql-42.2.18.jar"
    # )  
    .getOrCreate()
)

23/01/28 11:25:45 WARN Utils: Your hostname, bjorn resolves to a loopback address: 127.0.1.1; using 192.168.0.14 instead (on interface wlp3s0)
23/01/28 11:25:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/carlos/.ivy2/cache
The jars for the packages stored in: /home/carlos/.ivy2/jars
org.postgresql#postgresql added as a dependency
org.apache.sedona#sedona-python-adapter-3.0_2.12 added as a dependency
org.datasyslab#geotools-wrapper added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c11b55a3-ef7f-4965-8b31-bc26ccb7cb1e;1.0
	confs: [default]
	found org.postgresql#postgresql;42.2.18 in central
	found org.checkerframework#checker-qual;3.5.0 in central
	found org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating in central
	found org.locationtech.jts#jts-core;1.18.2 in central
	found org.wololo#jts2geojson;0.16.1 in central
	found org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating in central
	found org.apache.sedona#sedona-common;1.3.0-incubating in central
	found org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 in central
	found org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating in central
	found org.datasyslab#geotools-wrapper;1.3.0-27.2 in central
:: resolution report :: resolve 358ms :: artifacts dl 15ms
	:: modules in use:
	org.apache.sedona#sedona-common;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating from central in [default]
	org.checkerframework#checker-qual;3.5.0 from central in [default]
	org.datasyslab#geotools-wrapper;1.3.0-27.2 from central in [default]
	org.locationtech.jts#jts-core;1.18.2 from central in [default]
	org.postgresql#postgresql;42.2.18 from central in [default]
	org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 from central in [default]
	org.wololo#jts2geojson;0.16.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   0   ||   10  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c11b55a3-ef7f-4965-8b31-bc26ccb7cb1e
	confs: [default]
	0 artifacts copied, 10 already retrieved (0kB/8ms)

23/01/28 11:25:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [35]:
SedonaRegistrator.registerAll(spark)

True

In [36]:
sql = """SELECT "UPRN" uprn, ST_AsText(geom) geom FROM os.open_uprn_white_horse"""
uprn = pd.read_sql(sql, engine)

sql = """SELECT "postcode", ST_AsText(geom) geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = pd.read_sql(sql, engine)

In [37]:
codepoint = spark.createDataFrame(codepoint)
uprn = spark.createDataFrame(uprn)

/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

## sql/api

In [38]:
uprn.createOrReplaceTempView("uprn")
codepoint.createOrReplaceTempView("codepoint")

In [39]:
t1 = pd.Timestamp.now()

sql = """
    SELECT
        A.uprn origin,
        B.postcode destination,
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) as distance_m
    FROM
        uprn A,
        codepoint B
    WHERE
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) <= 5000        
"""
knn = spark.sql(sql).sort(['origin', 'distance_m', 'destination']).dropDuplicates(['origin']).toPandas()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

23/01/28 11:25:55 WARN JoinQuery: UseIndex is true, but no index exists. Will build index on the fly.

Timedelta('0 days 00:09:27.246200')

In [40]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance_m]
Index: []

# Kotlin all vs all

In [5]:
knn = pd.read_csv('knn_kotlin/kotlin_all_vs_all.csv', skipinitialspace = True)

In [6]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Kotlin strtree

In [7]:
knn = pd.read_csv('knn_kotlin/kotlin_tree.csv', skipinitialspace = True)

In [8]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Scala all vs all

In [9]:
knn = pd.read_csv('knn_scala/scala_all_vs_all.csv', skipinitialspace = True)

In [10]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Scala strtree

In [11]:
knn = pd.read_csv('knn_scala/scala_tree.csv', skipinitialspace = True)

In [12]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Rust all vs all

In [14]:
knn = pd.read_csv('knn_rust/rust_all_vs_all.csv', skipinitialspace = True)

In [15]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Rust tree

In [16]:
knn = pd.read_csv('knn_rust/rust_tree.csv', skipinitialspace = True)

In [17]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# BigQuery

In [ ]:
sql = """ 
CREATE SCHEMA os;
CREATE TABLE IF NOT EXISTS os.code_point_open_white_horse
(
    postcode text,
    geom geometry
);

CREATE TABLE IF NOT EXISTS os.open_uprn_white_horse
(
    "UPRN" bigint,
    "X_COORDINATE" double precision,
    "Y_COORDINATE" double precision,
    "LATITUDE" double precision,
    "LONGITUDE" double precision,
    geom geometry
);


"""

In [ ]:
sql = """
    CREATE TABLE os.knn AS
    WITH knn AS (
        SELECT 
            A.UPRN as origin,
            B.postcode as destination,
            round(ST_Distance(A.geom, B.geom, TRUE),2) as distance,
            row_number() OVER (PARTITION BY A.UPRN ORDER BY A.UPRN,ST_Distance(A.geom, B.geom) ASC, B.postcode) AS rn
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A.UPRN,
            ST_Distance(A.geom, B.geom, TRUE) ASC,
            destination
    )
    SELECT * EXCEPT(rn) FROM knn WHERE rn = 1;
"""

In [4]:
knn = pd.read_csv('big_query_result.csv', skipinitialspace = True)

In [11]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance_x destination_y  distance_y
981     10014021676       OX143ER       34.93       OX143HU       34.94
1313    10014022051       SN7 8QE      681.36       SN7 8QD      682.68
5899    10014027118       OX1 5AZ       51.35       OX1 5BA       51.37
5946    10014027169       OX145EE       24.48       OX145SA       24.49
9880    10014068978       SN7 7YS       52.33       SN7 7YT       52.36
16470   10014080969       OX129RQ       73.25       OX129JR       73.38
17288   10014081839       SN7 7YY       89.45       SN7 7BW       89.52
18986   10014083731       OX2 0PH        1.00       OX2 0PL        1.00
19068   10014083814       SN7 8QS      490.98       SN7 8QR      491.63
20213   10024886689       SN6 8HX      822.11       SN6 8JG      823.20
20596   10024897047       SN7 7QL      275.44       SN7 7QN      275.78
20635   10024897191       OX120AH      544.03       OX120DG      544.96
22344   10090579021       OX141SG      245.92       OX141RZ      246.09
24638   10090581329       OX129GB       46.45       OX129GE       46.56
26173   10090582867       OX128FU       57.73       OX128FW       57.77
26846   10093195331       OX129JQ       72.50       OX129JH       72.60
28035   10093196528       OX128FY       22.13       OX128BP       22.17
28602   10093197098       OX116GY       75.50       OX116FF       75.56
28896   10093197392       OX144FZ       57.90       OX144TR       57.99
29704   10093198206       OX128BH       15.69       OX128AX       15.70
32135   10094277230       OX2 9HX      120.71       OX2 9FG      120.84
32704   10094277799       OX136GL      200.26       OX136GY      200.45
34250   10094279348       OX129JX       77.10       OX129RL       77.23
35248   10094280351       OX127GB       62.97       OX127FX       63.09
35985   10094281089       OX127FU       85.37       OX127GH       85.43
36023   10094281127       OX2 9AA       82.41       OX2 9AF       82.49
36979   10095809653       OX2 9TF       25.48       OX2 9TJ       25.49
37242   10095809916       SN7 7NH      162.13       SN7 7FE      162.39
37686   10095810363       OX127GF      114.02       OX127GS      114.15
38680   10095811359       OX129FT      136.45       OX129FX      136.55
38847   10095811526       OX141YL      374.19       OX141XE      374.36
38849   10095811528       OX141YL      372.90       OX141XE      373.03
41237  100120899382       OX142ES       42.52       OX142ET       42.59
44689  100120902856       OX145PN       73.01       OX145PZ       73.03
45976  100120904144       OX136JZ       47.38       OX136LA       47.44
48117  100120906293       OX141HD       44.03       OX141HE       44.06
48939  100120907116       OX136JX       73.68       OX136DF       73.81
50018  100120908205       OX145RT       52.15       OX145RY       52.26
50043  100120908230       OX136NG       60.44       OX136PD       60.46
50734  100120908930       OX142LY      101.61       OX142ND      101.64
51913  100120910116       OX142PQ       80.61       OX142PA       80.70
59053  100120917341       SN7 7UJ       53.14       SN7 7UR       53.17
61710  100120920028       OX2 9DR       46.86       OX2 9DW       46.89
61778  100120920096       OX2 9BW       60.42       OX2 9DB       60.44
61854  100120920174       OX2 9GT       79.03       OX2 9BP       79.10
63274  100120921605       OX2 9FQ       60.03       OX2 9DN       60.10
63889  100120922221       OX1 5QS       97.58       OX1 5QZ       97.65
65422  100120923765       SN6 8TN       61.40       SN6 8TW       61.42
67441  100120925811       OX127HP       55.95       OX127HF       55.99
68964  100120927368       OX129YB       62.03       OX129YD       62.19
69750  100120928161       OX127JE       74.11       OX127JJ       74.23
70615  100120929030       OX129AW       39.20       OX129EL       39.22
72023  100120930451       OX127LU       45.88       OX127LH       45.91
73818  100120932730       OX144EG      140.43       OX144EQ      140.48
74127  100120933225       OX110DT       53.76       OX110DU       53.87
74617  100120933875       OX119QN      113.16       OX119QJ      113.27
78165  100121310011       OX120HZ       72.45       OX120JX       72.59
78653  100121310631       OX128AH        8.60       OX128AL        8.61
80077  100121312765       OX143LT        6.40       OX143LZ        6.41

# Redshift

In [ ]:
sql = """ 
CREATE SCHEMA os;
CREATE TABLE IF NOT EXISTS os.code_point_open_white_horse
(
    postcode text,
    geom geometry
);

CREATE TABLE IF NOT EXISTS os.open_uprn_white_horse
(
    "UPRN" bigint,
    "X_COORDINATE" double precision,
    "Y_COORDINATE" double precision,
    "LATITUDE" double precision,
    "LONGITUDE" double precision,
    geom geometry
);


"""

In [ ]:
sql = """
    CREATE TABLE os.knn AS
    WITH knn AS (
        SELECT 
            A.UPRN as origin,
            B.postcode as destination,
            round(ST_Distance(A.geom, B.geom),2) as distance,
            row_number() OVER (PARTITION BY A.UPRN ORDER BY A.UPRN,ST_Distance(A.geom, B.geom) ASC, B.postcode) AS rn
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A.UPRN,
            ST_Distance(A.geom, B.geom) ASC,
            destination
    )
    SELECT origin, destination, distance FROM knn WHERE rn = 1;
"""

In [4]:
knn = pd.read_csv('redshift_result.csv')

In [5]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Athena

In [ ]:
sql = """
    CREATE EXTERNAL TABLE IF NOT EXISTS `gis`.`code_point_open_white_horse` (
    `postcode` string,
    `geom` binary,
    `wkt` string
    )
    ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
    WITH SERDEPROPERTIES ('field.delim' = '|')
    STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
    LOCATION 's3://giscarlos/codepoint_wh/'
    TBLPROPERTIES ('classification' = 'csv');

    CREATE EXTERNAL TABLE IF NOT EXISTS `gis`.`open_uprn_white_horse` (
    `uprn` bigint,
    `x_coordinate` double,
    `y_coordinate` double,
    `latitude` double,
    `longitude` double,
    `geom` binary,
    `wkt` string
    )
    ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
    WITH SERDEPROPERTIES ('field.delim' = '|')
    STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
    LOCATION 's3://giscarlos/uprn_wh/'
    TBLPROPERTIES ('classification' = 'csv');
"""

In [ ]:
sql = """    
    WITH knn AS (
        SELECT 
            A.UPRN as origin,
            B.postcode as destination,
            round(ST_Distance(ST_GeometryFromText(A.wkt), ST_GeometryFromText(B.wkt)),2) as distance,
            row_number() OVER (PARTITION BY A.UPRN ORDER BY A.UPRN,ST_Distance(ST_GeometryFromText(A.wkt), ST_GeometryFromText(B.wkt)) ASC, B.postcode) AS rn
        FROM
            open_uprn_white_horse as A,
            code_point_open_white_horse as B
        WHERE
            ST_Distance(ST_GeometryFromText(A.wkt), ST_GeometryFromText(B.wkt)) <= 5000
        ORDER BY
            A.UPRN,
            ST_Distance(ST_GeometryFromText(A.wkt), ST_GeometryFromText(B.wkt)) ASC,
            destination
    )
    SELECT origin, destination, distance FROM knn WHERE rn = 1;    
    """

In [10]:
knn = pd.read_csv('athena_results.csv')

In [11]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Results

In [12]:
results = [
    {'test' : 'SQL distinct 16GB', 'time': pd.Timedelta('0 days 00:01:50')},
    {'test' : 'SQL distinct 2GB', 'time': pd.Timedelta('0 days 00:01:50')},
    {'test' : 'SQL lateral 16GB', 'time': pd.Timedelta('0 days 00:01:00')},
    {'test' : 'SQL lateral 2GB', 'time': pd.Timedelta('0 days 00:01:00')},
    {'test' : 'Geopandas sjoin_nearest', 'time': pd.Timedelta('0 days 00:00:01')},
    {'test' : 'Shapely all vs all', 'time': pd.Timedelta('0 days 00:02:00')},
    {'test' : 'Shapely strtree', 'time': pd.Timedelta('0 days 00:00:02')},
    {'test' : 'Scikit-Learn nearest neighbour', 'time': pd.Timedelta('0 days 00:00:00.25')},
    {'test' : 'Apache Sedona sql', 'time': pd.Timedelta('0 days 00:09:29')},
    {'test' : 'kotlin all vs all', 'time': pd.Timedelta('0 days 00:00:35')},
    {'test' : 'kotlin strtree', 'time': pd.Timedelta('0 days 00:00:4')},
    {'test' : 'scala strtree', 'time': pd.Timedelta('0 days 00:00:4')},
    {'test' : 'scala all vs all', 'time': pd.Timedelta('0 days 00:00:10')},
    {'test' : 'rust strtree', 'time': pd.Timedelta('0 days 00:00:0.4')},
    {'test' : 'rust all vs all', 'time': pd.Timedelta('0 days 00:00:11')},
    {'test' : 'BigQuery', 'time': pd.Timedelta('0 days 00:00:03')},
    {'test' : 'BigQuery (Slot time consumed)', 'time': pd.Timedelta('0 days 00:05:10')},
    {'test' : 'RedShift', 'time': pd.Timedelta('0 days 00:00:26')},
    {'test' : 'Athena', 'time': pd.Timedelta('0 days 00:01:50')}
]

In [13]:
pd.DataFrame(results).sort_values('time').drop_duplicates().reset_index(drop = True)

                              test                   time
0   Scikit-Learn nearest neighbour 0 days 00:00:00.250000
1                     rust strtree 0 days 00:00:00.400000
2          Geopandas sjoin_nearest        0 days 00:00:01
3                  Shapely strtree        0 days 00:00:02
4                         BigQuery        0 days 00:00:03
5                   kotlin strtree        0 days 00:00:04
6                    scala strtree        0 days 00:00:04
7                 scala all vs all        0 days 00:00:10
8                  rust all vs all        0 days 00:00:11
9                         RedShift        0 days 00:00:26
10               kotlin all vs all        0 days 00:00:35
11                SQL lateral 16GB        0 days 00:01:00
12                 SQL lateral 2GB        0 days 00:01:00
13               SQL distinct 16GB        0 days 00:01:50
14                SQL distinct 2GB        0 days 00:01:50
15                          Athena        0 days 00:01:50
16              Shapely all vs all        0 days 00:02:00
17   BigQuery (Slot time consumed)        0 days 00:05:10
18               Apache Sedona sql        0 days 00:09:29